*
{margin: 0;
    padding: 0;
    box-sizing: border-box;}

.titulo
{font-size: 40px;}

body
{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
height: 100vh;
display: flex;
flex-direction: column;}

header
{height: 10vh;
display: flex;
justify-content: center;
align-items: center;
background-color: silver;}

main
{flex-grow: 1;
padding: 10px;}

.item-container
{display: flex;
align-items: center;
display: inline-flex;
width: 250px;
height: 50px;
text-decoration: none;
color: black;
padding: 10px;}

.item-container:hover
{box-shadow: 0px 0px 5px black;}

footer
{align-items: center;
justify-content: center;
display: flex;
background-color: silver;}

.icon-git
{width: 3em;
padding: 10px;}