*
{margin: 0;
    padding: 0;
    box-sizing: border-box;}

body
{height: 100vh;
display: flex;
flex-direction: column;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: silver;}

header
{display: flex;
height: 50%;
align-items: center;
justify-content: center;}

main
{display: flex;
height: 80%;
flex-grow: 1;
justify-content: center;
font-size: 40px;}

